.editor {
  .number {
    width: 2.5rem;
  }
  .long-text {
    width: 20rem;
  }
  .flex-row {
    display: flex;
  }
  button {
    background-color: transparent;
    color: inherit;
    border: 1px solid grey;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;

    &:hover {
      background-color: grey;
      color: white;
    }
  }
  .editor-place {
    margin-left: 1rem;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 1rem;
    margin-top: 1rem;
    & > div {
      margin-top: 1rem;
    }
    .editor-place-map {
      display: flex;

      & > div {
        margin-left: 1rem;
      }
      .map-data {
        display: flex;
        flex-direction: column;
        & > * {
          margin-bottom: 0.5rem;
        }
      }
    }
    .place-image {
      width: 200px;
    }
    .city-map {
      position: relative;
      width: 200px;
      img {
        width: 100%;
        filter: grayscale(1);
      }
      .marker {
        position: absolute;
        border: 2px solid black;
        border-radius: 50%;
      }
    }
    .editor-interaction {
      margin-left: 1rem;
      border: 1px solid grey;
      border-radius: 3px;
      padding: 1rem;
      margin-top: 1rem;
      & > div {
        margin-bottom: 1rem;  
      }
      .editor-option{
        margin-bottom: 1rem;
      }
      .editor-hint{
        ul {
          list-style: none;
          display: flex;
          margin-block-start: 0;
          li {
            margin-right: 1rem;
          }
        }
      }
      .interaction-mapping {
        display: flex;
        & > * {
          margin-left: 1rem;
        }
        .map-data {
          display: flex;
          flex-direction: column;
          & > * {
            margin-bottom: 0.5rem;
          }
        }
      }
      .interaction-map {
        position: relative;
        width: 200px;
        img {
          width: 100%;
          filter: grayscale(1);
        }
        svg {
          position: absolute;
        }
        .marker {
          border: 2px solid black;
          border-radius: 50%;
        }
      }
      .editor-option {
        padding-left: 1rem;
      }
    }
  }
  padding: 2rem;
}
